    :root {
    --main-color: #bf9c78;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  *::selection {
    background-color: var(--main-color);
    color: var(--white);
  }
  
  ::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
  }
  
  section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
/* header */

.heading {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .heading img {
    height: 4rem;
    margin-bottom: 1rem;
  }
  
  .heading h3 {
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
  }
  
  .btn:hover {
    background-color: var(--black);
  }
  
  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
  }
  
  .header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
  }
  
  .header .flex .logo img {
    height: 5rem;
  }
  
  .header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
  }
  
  .header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--main-color);
  }

/* carousel */

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, sans-serif;
  }
  
  .mySlides {
    display: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* carousel container */
  .carousel-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  
  @keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px;
    }
  }
  

 